<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Surveys</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/css/main.css"/>
</head>
<body ng-app="app">

<nav style="text-align: right">
    <div ng-controller="i18nCtrl">
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                Choose your language
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a ng-click="changeLanguage('es')"><img src="i18n/flag-spain.png"/>&nbsp;Spanish</a></li>
                <li><a ng-click="changeLanguage('en')"><img src="i18n/flag-uk.png"/>&nbsp;English</a></li>
                <li><a ng-click="changeLanguage('de')"><img src="i18n/flag-germany.png"/>&nbsp;German</a></li>
                <li><a ng-click="changeLanguage('fr')"><img src="i18n/flag-france.png"/>&nbsp;French</a></li>
                <li><a ng-click="changeLanguage('it')"><img src="i18n/flag-italy.png"/>&nbsp;Italian</a></li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Trailers Audit</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/blank-survey">{{ 'Menu.download.form' | translate }}</a></li>
            <li><a href="#">{{ 'Menu.fill.form' | translate }}</a></li>
        </ul>
    </div>
</nav>

<main class="main-container container" ng-view></main>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.12.1/angular-translate.min.js"></script>

<script src="app.js"></script>
<script src="app.core.js"></script>
<script src="app.routes.js"></script>
<script src="app.services.js"></script>
<script src="app.translate.js"></script>

<script src="surveys/blank/blank-survey.ctrl.js"></script>
<script src="i18n/i18n.ctrl.js"></script>
<script src="services/surveys.fct.js"></script>

</body>
</html>