  <div class="page-header">
    <button type="button" class="btn btn-default" onclick="window.print()">
      <span class="glyphicon glyphicon-print"></span> {{ 'Btn.print.form' | translate }}
    </button>
  </div>

  <div class="page-header">
    <h4>
      {{ 'Basic.info.title' | translate }}
    </h4>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" id="name" placeholder="{{ 'Label.name' | translate }}">
    </div>
    <div class="form-group col-md-6">
      <input type="text" class="form-control" id="last_name"
             placeholder="{{ 'Label.last.name' | translate }}">
    </div>
  </div>
  <div class="form-group">
    <input type="text" ng-autocomplete ng-model="autocomplete" options="fill.options" details="details"
           class="form-control" id="city" placeholder="{{ 'Label.city' | translate }}"/>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="theater" placeholder="{{ 'Label.theater' | translate }}">
  </div>
  <div class="row">
    <div class="col-md-8 form-group">
      <input type="text" class="form-control" id="movie_name" placeholder="{{ 'Label.movie.name' | translate }}">
    </div>
    <div class="col-md-2 form-group">
      <label class="radio-inline"><input type="radio" name="movie_format">{{ 'Label.movie.format.2D' | translate
        }}</label>
    </div>
    <div class="col-md-2 form-group">
      <label class="radio-inline"><input type="radio" name="movie_format">{{ 'Label.movie.format.3D' | translate
        }}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 form-group">
      <input type="screen" class="form-control" id="screen" placeholder="{{ 'Label.screen' | translate }}">
    </div>
    <div class="col-md-4">
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-click="fill.show_calendar()"
               ng-model="fill.date" is-open="fill.calendar_open" datepicker-options="fill.date_picker_options"
               ng-required="true" close-text="Close" alt-input-formats="fill.date_picker_alt_input_formats"
               placeholder="{{ 'Label.date' | translate }}"/>
        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="fill.show_calendar()">
                                  <i class="glyphicon glyphicon-calendar"></i>
                                </button>
              </span>
      </p>
    </div>
    <div class="col-md-4 form-group">
      <input type="text" class="form-control" id="showtime" placeholder="{{ 'Label.showtime' | translate }}">
    </div>
  </div>

  <div class="form-group">
    <input type="email" class="form-control" id="email" placeholder="{{ 'Label.email' | translate }}">
  </div>


  <div class="page-header">
    <h4>
      {{ 'Trailers.info.title' | translate }}
    </h4>
  </div>


  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>{{ 'Label.order' | translate }}</th>
      <th>{{ 'Label.name' | translate }}</th>
      <th>{{ 'Label.duration' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td>_____ {{ 'Label.seconds' | translate }}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>_____ {{ 'Label.seconds' | translate }}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>_____ {{ 'Label.seconds' | translate }}</td>
    </tr>
    </tbody>
  </table>

