<div class="container">
  <div class="page-header">
    <h4>
      {{ 'Title.manage.markets' | translate }}
    </h4>
  </div>


  <form>
    <div class="form-group">
      <input type="text" ng-autocomplete ng-model="manageMarkets.market.location" options="manageMarkets.options" details="details"
             class="form-control" id="city" placeholder="{{ 'Label.market.city' | translate }}"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="last_name" ng-model="manageMarkets.market.name"
             placeholder="{{ 'Label.market.name' | translate }}">
    </div>

    <div class="form-group">
      <button class="btn btn-primary" ng-click="manageMarkets.save_market()">{{ 'Btn.add.market' | translate }}</button>
    </div>
  </form>


  <table class="table table-striped">
    <thead>
    <tr>
      <th>{{ 'Label.market.name' | translate }}</th>
      <th style="text-align: center">{{ 'Label.actions' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-show="manage_markets.markets==0">
      <td colspan="5">
        {{ 'Label.no.records' | translate }}
      </td>
    </tr>
    <tr ng-repeat="market in manageMarkets.markets">
      <td>{{ market.name }}</td>
      <td style="text-align: center">
        <a ng-click="manageMarkets.edit(market)"><span class="glyphicon glyphicon-pencil"></span></a>
        <a ng-click="manageMarkets.remove(market)"><span class="glyphicon glyphicon-remove"></span></a>
      </td>
    </tr>
    </tbody>
  </table>

</div>

